.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
}

.navbar {
  position: fixed;
  z-index: 9999;
}

@media (max-width: 600px) {
  .titleWeb {
    display: block;
  }
}

.notif {
  position: fixed;
  top: 0%; /* Atur jarak dari atas */
  left: 0%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7); /* Hitam transparan */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
